/* carousel.scss */

.owl-demo .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-demo .owl-buttons i{
  margin-top: 2px;
}
 
.owl-demo .owl-controls .owl-buttons .owl-prev {
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s;
}
 
.owl-demo .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s;
}

.owl-next:hover, 
.owl-prev:hover {
    opacity: 0.8 !important;
}
.owl-prev span,
.owl-next span {
    top: 50%;
}

/* /carousel.scss */





.tn-carousel .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.tn-carousel .owl-buttons i{
  margin-top: 2px;
}
 
.tn-carousel .owl-controls .owl-buttons .owl-prev {
  left: 200px;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s;
}
 
.tn-carousel .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s;
}

.owl-next:hover, 
.owl-prev:hover {
    opacity: 0.8 !important;
}
.owl-prev span,
.owl-next span {
    top: 50%;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: red !important;
}