/* footer.scss */

footer{
	.tn-footer, #footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height:90px;
		background-color: #20201f;
		border-top: 1px solid black;
		z-index: 1000;
		background-color: #20201f;
		border-top: 1px solid #131313;
		
		a {color: white; text-transform: uppercase;}
	}
	
	.tn-footer {-webkit-box-shadow: 0px 4px 48px 34px #1d1d1d; -moz-box-shadow: 0px 4px 48px 34px #1d1d1d; box-shadow: 0px 4px 48px 34px #1d1d1d; }
	.tn-footer a {color: white; text-transform: uppercase; }
	a.toggle-watchlist, a.toggle-fullscreen {color:#20201f !important; cursor:default; visibility:hidden;} 
	#footer ul {margin:0.6em 0; max-height: 60px;}
	#legal {background:#171717; color:#434343; float:left; font-size:0.7em; max-height:30px; height:100%; width:100%;}
	#legal a {color:#434343; font-size:0.9em; text-decoration:underline; text-transform:none;}
	#legal ul {float:left; margin-top:auto; margin:0.7em 0; max-height:auto;}
	#legal li {display:inline; float:left; padding:0 0 0 1em;}
	#legal li.adchoices {background:url(http://i.cdn.turner.com/cnn/.element/img/3.0/global/misc/logo_ad_choices_footer.png) no-repeat center right; padding:0 1.4em 0 0.3em;}
	
	/* added this for now....it was not fitting in a small screen with the empty spaces for the 2 li elems */
	ul.nav-pills li:first-child,
	ul.nav-pills li:nth-child(2){
		display:none;
	}
	@media (max-width: 345px) {
		/* 
			this is temporary since mobile cannot play full episodes or live
			this will need to be done via js isMobile detection	
		*/
		display: none;
		
		.nav > li > a{
			padding: 10px;
		}
	}
}

/* /footer.scss */