
/* global.scss */
html, body {
	height: 100%;
	overflow: hidden;
	background-color: $background-color;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}


::-webkit-scrollbar{
  width:1px;
} 

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,1);

}

.glyphicon-search{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	font-size: 18px;
}

/* SIGN IN/OUT CODE */
.signin-wrapper{
	a{
		text-decoration: none;
		color: #ccc;
		font-weight: normal;
	}
	.logged-out{
		a{
			text-transform: uppercase;
			font-size: 11px;
		}
	}
	.logged-in{
		a{
			text-transform: uppercase;
			font-weight: normal;
			font-size: 10px;
		}
	}
}

/* /SIGN IN/OUT CODE */

.shadowbox {
	-webkit-box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	background-color: black;
}
.shadow-top {
	position: fixed;
	top: $header-size;
	left: 0;
	width: 100%;
	height: 0px;
}
.shadow-bottom {
	position: fixed;
	bottom: $footer-size+1;
	left: 0;
	width: 100%;
	height: 0px;
}
.shadow-left {
	position: fixed;
	bottom: $footer-size+1;
	left: 0;
	top: $header-size;
	width: 1px;
}
.shadow-right {
	position: fixed;
	bottom: $footer-size+1;
	right: 0px;
	top: $header-size;
	width: 1px;
}


.showColor {
	color: $station-color;
}

.tn-movie {
	position: relative;
	overflow: hidden;
}

html.no-touch .tn-movie .moreinfo {
	background-color: $station-color;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	opacity: 0; 
	filter:alpha(opacity=0);
	transition: all 0.3s;
	overflow: hidden;
	cursor: pointer;
}
html.touch .tn-movie .moreinfo {
	background-color: $station-color;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	display: none;
	overflow: hidden;
	cursor: pointer;
}
.tn-movie .title {
	position: absolute;
	bottom: 0;
	left: 0;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.schedule .tn-movie .title {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	font-size: 200%;
	background-color: black;
	opacity: 0.7;
	filter:alpha(opacity=70);
	text-shadow: black 0.1em 0.1em 0.2em;
}
html.touch .tn-movie:hover .title, 
.tn-movie:active .title{
	display: none;
}
.tn-movie .desc {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
}
.tn-movie .links {
	border-top: 1px solid white;
	position: relative;
}
.tn-movie .buttons {
	position: absolute;
	top: 0;
	right: 0px;
	width: $footer-size;
	opacity: 0.8;
	filter:alpha(opacity=80);
	background-color: gray;
	text-align: center;
	display: none;
}
.tn-movie .buttons a {
	font-size: 20px;
	color: black;
	padding: 10px;
	margin-bottom: 2px;
}
html.touch .tn-movie .buttons {
	display: block;
}

.tn-movie.stretch img {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-size: cover;
}

.tn-movie .smallbuttons {
	position: absolute;
	top: 0;
	right: 0px;
}
.tn-movie .smallbuttons li {
	display: inline;
}
.tn-movie .smallbuttons a {
	color: white;
	padding: 10px;
	margin-bottom: 2px;
}

html.no-touch .tn-movie:hover .moreinfo, 
.tn-movie.active .moreinfo {
	opacity: 0.8;
	filter:alpha(opacity=80);
}
html.touch .tn-movie .modemsg,
.tn-movie.active .modemsg {
	display: none;
}
.tn-application {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -$footer-size;
	/* Pad bottom by footer height */
	padding: 0 0 $header-size;
}
.tn-page {
	position: fixed;
	top: 0;
	left: 0;
	bottom: $footer-size;
	right: 0;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.tn-hidden {
	display: none !important;
}

.livetitle {
	background: $station-color;
	height: 200px;
	position: relative;
}
.livetitle h1, .livetitle p {
	margin: 0;
}
.livetitle .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
}
.liveimage {
	height: 300px;
	position: relative;
}


/* GLOBAL STYLES FOR MOVIE DISPLAY, USED ON MAIN LANDING, LIVE SHOWS ETC */
.maintitle {
	background: $station-color;
	height: 200px;
	position: relative;
	
	h1, h2, p {
		margin: 0;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 5px;
	}
}

.mainimage {
	height: 300px;
	position: relative;
}
.mainsubimg {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 120px;
}
.mainsub1 {
	position: absolute;
	left: 0;
	top: 0;
}
.mainsub2 {
	position: absolute;
	left: 50%;
	top: 0;
}

.tn-page, .tn-page .ui-content {
	margin: 0 0 0 0;
	padding: $footer-size 0 $footer-size 0;
}
#tn-movies-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
.olControlAttribution {
	display: none;
	position : absolute;
	font-size : 10px;
	bottom : 0 !important;
	right : 0 !important;
	background : rgba(0, 0, 0, 0.1);
	font-family : Arial;
	padding : 2px 4px;
	border-radius : 5px 0 0 0;
}
.left {
	float: left;
	width: 78%;
	margin-right: 2%;
}
.right {
	float: right;
	width: 20%;
}
.ui-input-search {
	margin: 0;
}
button.ui-btn {
	margin: 0;
}
.owl-demo {
	padding: 0;
	margin: 0px;
	border: 0 !important;
	background: black !important;
}
.owl-demo .item {
	margin: 3px;
	/*padding-right: 10px;*/
}
.owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
#owl-main .item {
	background: #3fbf79;
	padding: 0px 0px;
	margin: 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.owl-main {
	padding: 0;
	margin: 0px;
	border: 0 !important;
	background: black !important;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#owl-live .item {
	background: #3fbf79;
	padding: 0px 0px;
	margin: 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.owl-live {
	padding: 0;
	margin: 0px;
	border: 0 !important;
	background: black !important;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.ui-content {
	overflow: hidden;
}
.jqm-demos {
	background: black !important;
}
.navmenu a {
	background: transparent !important;
	text-transform: uppercase;
}
html .ui-bar-b .ui-btn.ui-btn-active {
	border: 0;
}
.navmenu a.selected {
	border-bottom: 2px solid $station-color !important;
	border-radius: 3px !important;
}
/*
.owl-header h1 {
	font-size: 24px;
}
.owl-header {
	background: $station-color;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -3px;
	width: 200px;
	opacity: 0.85;
	filter:alpha(opacity=85);
	pointer-events: none;
	padding: 10px;
	margin: 3px;
	z-index:100;
}
.schedule .owl-header {
	text-align: right;
}
.schedule .owl-header p {
	font-size: 700%;
	text-shadow: black 0.0em 0.0em 0.1em;
}
*/
.tn-page ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	padding: 0;
	margin: 0;
}
.tn-page {
	margin: 0 !important;
	padding: 0 !important;
}
#popupLogin-screen {
	opacity: 0.85;
	filter:alpha(opacity=85);
}
#popupLogin {
	box-shadow: none;
	background: transparent;
}
.tn-footer a.nobg {
	background: transparent !important;
	text-transform: uppercase;
}
.tn-footer div.ui-slider {
	display: inline-block;
	width: 100px;
	vertical-align: middle;
}
.tn-footer .ui-slider input {
	display: none;
}
.tn-footer .ui-slider-track {
	margin-left: 15px;
}
.tn-footer .ui-input-text {
	display: inline-block;
	width: 80px;
	vertical-align: middle;
}
.tn-page {
	background: $background-color;
}
a.nobg {
	background: transparent !important;
	text-transform: uppercase;
	border: 0;
}
@media (max-width: 35em) {
	.hidden-phone {
		display: none !important;
	}
}
@media (min-width: 35em) {
	.visible-phone {
		display: none !important;
	}
	.tn-footer div.ui-slider {
		width: 180px;
	}
}
@media (min-width: 55em) {
	.tn-footer div.ui-slider {
		width: 256px;
	}
}
.leaflet-control-attribution {
	display: none;
}
.with-border {
/*	width: 256px;
	height: 256px;*/
	background-size: auto 100%;
	background-position:center;
	border: 8px solid  #1d1d1d;
	/*-webkit-transition: all 0.2s ease-in-out;*/
}
.moviebox {
/*	width: 256px;*/
/*	height: 0;*/
	opacity: 0;
	filter:alpha(opacity=0);
	background-color: $station-color;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	/*padding: 10px;*/
	/*-webkit-transition: opacity 0.3s ease-in-out;*/
}
.playbut {
	width: 64px;
	height: 64px;
	background-image: url(../images/play.png);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -32px 0px 0px -32px;
	cursor: pointer;
}
.infoarea {
	position: absolute;
	left: 50%;
	top: $footer-size;
	margin: -32px 0px 0px -32px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: #000;
}




.page {
	position: absolute;
	top: $header-size;
	left: 0;
	bottom: $footer-size;
	right: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $background-color;
}
#page-inplayer {
	right: auto;
	bottom: auto;
	top: 0;
	left: 0;
	width: 300px;
	height: 200px;
	border: 0px solid #fff;
	/*transition: font 0.5s, width 0.5s, height .5s, top .5s, left .5s;*/
	transition: all 0.5s;
}
.inplayer {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
/* Wrapper for page content to push down footer */
 #wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -$footer-size;
	/* Pad bottom by footer height */
	padding: 0 0 $header-size;
}
.watchbar {
	background-color: #20201f;
	width: 100%;
	padding: 0 10px 0 10px;
}
#watchlist {
	background-color: #000;
	position: fixed;
	bottom: $footer-size;
	left: 0;
	width: 100%;
	height: 150px;
	overflow: hidden;
	opacity: 0.95;
	filter:alpha(opacity=95);
	display: none;
	border-top: 1px solid $background-color;
}

/*
 #footer {
	height: $footer-size;
	background-color: #20201f;
	border-top: 1px solid $background-color;
}

.navbar {
	opacity: 0.95;
	filter:alpha(opacity=95);
}
*/
.modal-dialog {
	width: 100%;
	height: 80%;
	padding: 0;
}
div.modal {
	overflow: hidden;
	background-color: black;
}
.modal.fade.in {
	opacity: 0.9;
}
.modal-content {
	height: 100%;
	margin-top: $header-size;
	border-radius: 0;
	background: transparent;
}
.white, .white a {
	color: #fff;
}
.black, .black a {
	color: #000;
}
#page-shows, #page-shows2, #page-schedule {
	overflow-y: auto;
}
:focus {
	outline: none;
}
/*
.owl-watch {
	padding: 0;
	margin: 0px;
	border: 0 !important;
	background: black !important;
}
.owl-watch .item img {
	display: block;
	width: 100%;
	height: 100%;
}
.owl-watch .item {
	margin: 3px;
	background: #3fbf79;
	padding: 0px 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
*/
ul, menu, dir {
	-webkit-padding-start: 0px;
}
#volume-panel a {
	height: $footer-size;
}
#volume-panel {
	height: 30px;
	margin-top: 5px;
	position: relative;
}
#time-slider {
	background-color: gray;
	margin-top: 15px;
	width: 100px;
	height: 10px;
}
.largeIcon {
	font-size: 120%;
}
.no-transition {
	-webkit-transition: height 0.001s;
	-moz-transition: height 0.001s;
	-ms-transition: height 0.001s;
	-o-transition: height 0.001s;
	transition: height 0.001s;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #000 !important;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #20201f !important;
}

.loading2 
{	background-color: black;
	border: 0;
	margin: 0;
	padding: 0;
}

.fullscreen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.vid-pause-state {
	opacity: 0.90;
	filter:alpha(opacity=90);
	background-color: #000;
}

.loading2 h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;	
}

#playtime {
	background-color: transparent;
	width: 90px;
	color: white;
	border: 0;
	margin: 10px 0 0 0;
	padding: 0;
}
.progress-bar {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

#page-related {
	background: black;
}

#vid-buttons {
	position: absolute;
	opacity: 0.10;
	filter:alpha(opacity=10);
	min-height: 20px;
	top: 0;
	left: 0;
	padding: 10px;	
}

#vid-buttons:hover {
	opacity: 0.90;
	filter:alpha(opacity=90);
	transition: all 0.5s;
}

#vid-buttons a {
	width: $footer-size;
	/*height: $footer-size;*/
	display: block;
	padding: 10px 0 0 10px;
	text-shadow: black 0.1em 0.1em 0.2em;
}

div.gigya-screen-dialog {
	background-color: black !important;
	opacity: 0.95;
	filter:alpha(opacity=95);
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	border: 0 !important;
	border-radius: 0 !important;
	transition: all 0.5s;
}

div.gigya-screen-dialog-content {
	margin-left: auto !important;
	margin-right: auto !important;    
}
div.gigya-screen-dialog-top {
	background-color: transparent !important;
}
.gigya-screen h2, .gigya-screen h1 {
	color: $station-color !important;
}
div.gigya-screen-dialog-inner {
	border: 0 !important;
	text-align: center !important;
	width: 100% !important;
}
.gigya-screen-dialog-inner *, .gig-comments-container *, .gigya-screen-dialog-inner *:before, .gigya-screen-dialog-inner *:after {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}
.gigya-screen *, div.gigya-screen, .gigya-screen span, .gigya-screen a:hover, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active {
	color: #ccc !important;
}
.gigya-input-text, .gigya-input-password, .gigya-textarea,
.gigya-input-submit, .gigya-input-button {
	color: black !important;
}

.vid-pause-state h1 {
	color: $station-color;
}

.minimized h1 {
	font-size: 16px;
}

.gigya-screen-dialog-caption {
	display: none;
}



.sidebar {
	position: absolute;
	top: 100px;
	right: -260px;
	bottom: 10px;
	width: 300px;
	transition: all 0.5s;
}
.sidebar .nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: $footer-size;
}
.sidebar .nav a {
	background-color: gray;
	font-size: 20px;
	color: black;
	padding: 10px;
	margin-bottom: 2px;
}
.sidebar .nav a.active {
	background-color: #202020;
}
.sidebar .pane {
	position: absolute;
	top: 0;
	left: $footer-size;
	height: 100%;
	width: 2$header-size;
	background-color: #202020;
	display: none;
	overflow-y: auto;
	padding: 5px;
}

.search-button {
	font-size: $footer-size;
	background: transparent;
	border: 0;
	color: white;
	border-bottom: 1px solid RGBA(255,255,255,0.1);
	width: 90%;	
}

.modal-header {
	border-bottom: 0;
}

.pane h3.vid-title {
	color: $station-color;
}
.pane .tn-movie
{
	border-radius: 3px;
}
.leaflet-tile .tn-movie.stretch img {
	width: auto;
	height: 100%;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #111111;
}
.modal-dialog {
	overflow-y: auto;
}
.page{
	.flexslider { 
		margin: 0;
		background: $background-color;
		border: 0px solid #000;
		border-top: none;
		position: relative;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
		zoom: 1;
	}
	.carousel .slide-wrapper{
		margin-right: 7px;
		margin-left: 7px;
	}
	.carousel li{
		margin-right: 0;
		margin-left: 0;
	}
	/* the margins need to be the same because the image width is relative to the width of slide-wrapper */
	/*
	.carousel ul li:last-child .slide-wrapper{
		margin-right: 0px;
	}
	.carousel ul li:first-child .slide-wrapper{
		margin-left: 0px;
	}
	*/
	.flex-direction-nav{
		a{
			color: black;
			font-size: 12px;
			height: 50%;
			font-size: 0;
		}
	}
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next{
		opacity: 0.3;
	}
	.flexslider:hover .flex-prev, .flexslider:hover .flex-next{
		opacity: 0.6;
	}
	.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{
		opacity: 0.9;
	}
	.flex-direction-nav .flex-next, .flexslider:hover .flex-next{
		right: 5px;
	}
	.flex-direction-nav .flex-prev, .flexslider:hover .flex-prev{
		left: 5px;
	}
	.maintitle{
		h2{
			text-shadow: $tshadow1;
		}
	}
	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		/*background-color: rgba(0,0,0,0.3);*/
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 95%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(95%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 95%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

		
		.text-wrapper{
	
			span{
				display: inline-block;
				color: #fff;
				background-color: transparent;
				&.title{
					text-transform: uppercase;
					font-weight: $bold;
					font-size: 16px;
					text-shadow: $tshadow1;
				}
				&.subtitle{
					font-size: 11px;
					margin-left: 5px;
				}
		
			}
		}
		&.withleft{
			height: 50px; 
			padding-top: 5px;
			padding-left: 5px;
			
			div{
				display: inline-block;
			}
			div.left-text{
				color:  $station-color;
				font-size: 32px;
				text-transform: uppercase;
			}
			.text-wrapper{
				span{
					display: block;
					
					&.title{
						font-size: 14px;
						text-transform: none;
						color: #ccc;
					}
					&.subtitle{
						margin-left: 0;
						font-weight: normal;
						color: #aaa;
					}
				}
			}

		}
	}

	
	.main-content{
		position: relative;
		margin-bottom: 5px;
		
	}
	.main-footer{
		background: -moz-linear-gradient(top,  rgba(211,30,73,1) 0%, rgba(211,30,73,0.65) 95%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,30,73,1)), color-stop(95%,rgba(211,30,73,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(211,30,73,1) 0%,rgba(211,30,73,0.65) 95%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(211,30,73,1) 0%,rgba(211,30,73,0.65) 95%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(211,30,73,1) 0%,rgba(211,30,73,0.65) 95%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(211,30,73,1) 0%,rgba(211,30,73,0.65) 95%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31e49', endColorstr='#a6d31e49',GradientType=0 ); /* IE6-9 */
		color: #fff;
		font-size: 12px;
		padding: 5px 10px;
		.time{
			text-transform: uppercase;
		}
		.intro{
			font-weight: $bold;
		}
	}
	.secondary-content{
		position: relative;
		
		> div{
			display: inline-block;
			width: 49%;
			position: relative;
		}
		> div:nth-child(2){
			position: absolute;
			right: 0;
		}
		.overlay{
			background-color: rgba(113,8,31,0.6);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
		.playbut{
			background-image: url(../images/play-sm.png);
			z-index: 2;
		}
		.caption{
			z-index: 3;
		}
		.text-wrapper{
			height: 20px;
			span{
				&.title{
					font-size: 11px;
				}
			}
		}
		img { 
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}

}

.att{
	background: url($att) no-repeat;
	background-size: 247px 31px;
	width: 247px;
	height: 31px;
}

/*  LIVE TV */

#page-livetv{
	section.slider{
		max-width: 1200px;
		margin: 0 10%;
	}
	.slider li{
		width: 50%;
	}
	.main-content{
		margin-bottom: 0;
	}
	.maintitle{
		
		h2{
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

}





/*
	372 height....first main landing image shows but not secondaries

*/
@media (max-width: 345px) {
	/* 
		this is temporary since mobile cannot play full episodes or live
		this will need to be done via js isMobile detection	
	*/
	.page{
		bottom: 0px;
	}
}
@media (max-width: 767px) {
	.page{
		top: 50px;
	}
}
@media (max-width: 480px) {
	#page-landing, #page-livetv{
		 .carousel .slide-wrapper{
			margin-right: 2px;
			margin-left: 2px;
		}
	}
}

/* we want to set this to the height where the full content including tall red header will show */
@media (max-height: 660px) {
	.maintitle{
		height: 35px;
		
		.bottom{
			margin-bottom: 3px;
			h1, h2{
				font-size: 24px;
				display: inline-block;
				margin-right: 10px;
			}
		
			div{
				font-size: 12px;
				display: inline-block;
			}
		}
		 
	}
	#page-livetv .maintitle h2{
		margin-bottom: 0;
	}
	.flex-direction-nav a{
		top: 100px;
		margin-top: 0;
	}

}

/* we will replace with 2x images when we get them */
@media (-webkit-min-device-pixel-ratio: 1.5){
	.playbut{
		background-image: url(../images/play.png);
	}
	.secondary-content{
		.playbut{
			background-image: url(../images/play-sm.png);
		}
	}
	.att{
		background-image: url($att-2x);
	}
}

/* /global.scss */