
/*  header.scss */
header{
	font-size: 12px;
	font-weight: bold;
	
	.container{
		position: relative;
	}

	.signin-wrapper{
		
		/*position: relative;*/
		
		.logged-out{
			position: absolute;
			right: 15px;
			height: 20px;
			top: 10px;
		}
		
		.logged-in{
			position: absolute;
			right: 15px;
			top: 5px;
			
			> div{
				display: inline-block;
			}
			
			.user-info{
				vertical-align: top;
				height: 31px;
				position: relative;
				div{
					position: relative;
					top: 50%;
					margin-top: -7px;
					height: 14px;
					color: #ccc;
					font-weight: normal;
					font-size: 10px;
					
				}
			}
			.co-branding{
				vertical-align: top;
			}
		}
		
	}
	.navbar-collapse{
		max-height: 700px;
	}
	.navbar {
		opacity: 0.95;
		filter:alpha(opacity=95);
		position: relative;
		margin-bottom: 20px;
	}
	.navbar-inverse{
		background-color: #222222;
		border-color: #080808;
	}
	#navmain{
		
		overflow-y: auto;
		.navbar-nav > li > a {
			height: 40px;
			color: $header-link-color;
			text-transform: uppercase;
			padding: 10px 4px;
			margin: 0 14px; 
			
			span{
				display: inline-block;
				/*height: 20px;*/
			}
		}
		
		.hidden-xs.navitem-help a{
			font-size: 20px;
			font-weight: normal;
		}

		li.navitem-glyphicon-search a,
		.hidden-xs.navitem-help a{
			padding-top: 6px;
			padding-right: 0;
			margin-right: 0;
		}

	}
	
	.navbar-nav li {
		border-bottom: 1px solid #101010;
	}
	.navbar-static-top{
		z-index: 1000;
		border-width: 0 0 1px;
	}
	
	.navbar-toggle .icon-bar{
		background-color: #ffffff;
	}
	
	.navbar-nav > li > a{
		/*line-height: $navbar-lineheight;*/
	}

	
	.navbar-inverse .navbar-nav > li > a{
		color: $header-link-color;
	}
	.navbar-header{
		position: relative;
		.navbar-toggle{
			margin: 0;
			position: absolute;
			float: none; 
			padding: 9px 10px;
			margin: 0;
			background-color: transparent;
			border: 1px solid transparent;
			border-radius: 4px;
			height: 34px;
			top: 50%;
			margin-top:-17px;
			right: 15px;
			border-color: #333333;
		}
		
	}
	@media (max-width: 350px) {

		.navbar-header .navbar-toggle{
			right: 2px;
		}
		a.navbar-brand{
			padding-left: 2px;
		}
		.att{
			background-size: 237px;
			width: 237px;
		}
		.signin-wrapper{
			.logged-in{
				margin-right: -125px;
				
			}
		}

	}
	
	@media (max-width: 767px) {

		a.navbar-brand{
			padding: 5px;
		}
		.signin-wrapper{
			
			/* 
				this is temporary since mobile cannot play full episodes or live
				this will need to be done via js isMobile detection	
			*/
			display: none;
			
			.logged-out{
				top: 25px;
				right: 70px;
			}
		
			.logged-in{
				top: 25px;
				margin-top: -10px;
				right: 50%;
				margin-right: -130px;
				
				div{
					display: block;
				}
			
				.user-info{
					color: #ccc;
					font-weight: normal;
					font-size: 10px;
					height: auto;
				}
				
			}
		}
	}
	@media (min-width: 768px) {
		.navbar a.active {
			border-bottom: 3px solid $station-color;
		}
		.navbar-nav li {
			border-bottom: none;
		}
		#navmain .navbar-nav{
			/*  this is to get the float to sit at the bottom of the div */
			margin-top: 27px;
		}
	}
	@media (-webkit-min-device-pixel-ratio: 1.5){

	}
	
}


/*  /header.scss */

