.tn-movie {
	position: relative;
	overflow: hidden;
}

html.no-touch .tn-movie .moreinfo {
	background-color: $station-color;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	opacity: 0; 
	filter:alpha(opacity=0);
	transition: all 0.3s;
	overflow: hidden;
	cursor: pointer;
}
html.touch .tn-movie .moreinfo {
	background-color: $station-color;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	display: none;
	overflow: hidden;
	cursor: pointer;
}
.tn-movie .title {
	position: absolute;
	bottom: 0;
	left: 0;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.schedule .tn-movie .title {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	font-size: 200%;
	background-color: black;
	opacity: 0.7;
	filter:alpha(opacity=70);
	text-shadow: black 0.1em 0.1em 0.2em;
}
html.touch .tn-movie:hover .title, 
.tn-movie:active .title{
	display: none;
}
.tn-movie .desc {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
}
.tn-movie .links {
	border-top: 1px solid white;
	position: relative;
}
.tn-movie .buttons {
	position: absolute;
	top: 0;
	right: 0px;
	width: $footer-size;
	opacity: 0.8;
	filter:alpha(opacity=80);
	background-color: gray;
	text-align: center;
	display: none;
}
.tn-movie .buttons a {
	font-size: 20px;
	color: black;
	padding: 10px;
	margin-bottom: 2px;
}
html.touch .tn-movie .buttons {
	display: block;
}

.tn-movie.stretch img {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-size: cover;
}

.tn-movie .smallbuttons {
	position: absolute;
	top: 0;
	right: 0px;
}
.tn-movie .smallbuttons li {
	display: inline;
}
.tn-movie .smallbuttons a {
	color: white;
	padding: 10px;
	margin-bottom: 2px;
}

html.no-touch .tn-movie:hover .moreinfo, 
.tn-movie.active .moreinfo {
	opacity: 0.8;
	filter:alpha(opacity=80);
}
html.touch .tn-movie .modemsg,
.tn-movie.active .modemsg {
	display: none;
}