
/* SCHEDULE */

.dateslider {
	padding:0 0 1em 0;
	position:relative;
}

.timedate {


  bottom: auto;
  filter: alpha(opacity=1);
  float: left;
  left: -3px;
  margin: 0 3px;
  margin-left: 50px;
  opacity: 1;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 200px;
  z-index: 100;
  text-transform: uppercase;
 }

.timedate .dayname {
  font-size: 24px; }

.timedate .daynum {
  	font-size: 98px;
	text-shadow: black 0.0em 0.0em 0.1em; 
	position: absolute;
	bottom: 0px;
	right: 0;
	line-height: 76px;
}
  
  
  
#page-schedule, #page-shows{
	.carousel .slide-wrapper{
		margin-right: 3px;
		margin-left: 3px;
	}
	.main-content{
		margin-bottom: 0;
	}

}
#page-schedule{
	.timedate{
		background: rgb(109,0,25); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(109,0,25,1) 0%, rgba(211,30,73,1) 44%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,0,25,1)), color-stop(44%,rgba(211,30,73,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* IE10+ */
		background: linear-gradient(to right,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#d31e49',GradientType=1 ); /* IE6-9 */

	}
	.slider{
		padding-left: 245px; 
	}
}

#page-shows{
	.timedate{
		background: $station-color;
		filter: alpha(opacity=.85);
		opacity: .85;
	}

}

