.shadowbox {
	position: fixed;
	-webkit-box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	box-shadow: 10px 0px 64px 41px rgba(0,0,0,0.75);
	background-color: black;
}
.shadow-top {
	top: $header-size;
	left: 0;
	width: 100%;
	height: 0px;
}
.shadow-bottom {
	position: fixed;
	bottom: $footer-size+1;
	left: 0;
	width: 100%;
	height: 0px;
}
.shadow-left {
	position: fixed;
	bottom: $footer-size+1;
	left: 0;
	top: $header-size;
	width: 1px;
}
.shadow-right {
	position: fixed;
	bottom: $footer-size+1;
	right: 0px;
	top: $header-size;
	width: 1px;
}