
/* SHOWS */

.dateslider {
	padding:0 0 1em 0;
	position:relative;
}

.showsmeta {

  background:#d31e49;
  bottom: auto;
  filter: alpha(opacity=1);
  float: left;
  height:250px;
  left: -3px;
  margin: 0 3px;
  margin-left: 50px;
  opacity: 1;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 200px;
  z-index: 100;
  text-transform: uppercase;
 }

.showsmeta .title {
  font-size: 24px; 
  text-shadow: black 0.0em 0.0em 0.1em; 
  }

.showsmeta .blurb {
	text-transform:none;
}
  
.showsmeta .button {
	border:1px solid #FFF;
	bottom:0;
	float:left;
	margin:0.5em 0.3em;
	padding:0.3em;
}

.showsmeta .button a {
	color:#FFF;
	font-size:0.8em;
}
  
#page-schedule, #page-shows{
	.carousel .slide-wrapper{
		margin-right: 3px;
		margin-left: 3px;
	}
	.main-content{
		margin-bottom: 0;
	}

}
#page-shows{
	.showsmeta{
		background: rgb(109,0,25); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(109,0,25,1) 0%, rgba(211,30,73,1) 44%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,0,25,1)), color-stop(44%,rgba(211,30,73,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* IE10+ */
		background: linear-gradient(to right,  rgba(109,0,25,1) 0%,rgba(211,30,73,1) 44%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#d31e49',GradientType=1 ); /* IE6-9 */

	}
}

#page-shows{
	.showsmeta{
		background: $station-color;
		filter: alpha(opacity=.85);
		opacity: .85;
	}

}
#page-shows .slider {padding-left:245px;}
#page-shows .text-wrapper {margin-left:1em;}
#page-shows .epinfo {color:#ccc; float:left; font-size:14px; text-transform:none;}
#page-shows .special {color:#aaa; font-size:11px; font-weight:normal; margin-left:0;}
#page-shows .availexpire {color:#d31e49; font-size:11px; text-transform:uppercase;}
