$header-size: 70px;
$header-link-color: white;
$footer-size: 90px;
$footer-link-color: white;
$navbar-lineheight: 40px;
$bold: 700;

/*
$tshadow1: 1px 1px 3px #222;
*/
$tshadow1: none;

$att: "http://z.cdn.turner.com/xslo/cvp/config/tnt/tve/assets/TNT_web_ATT_white_ipw_247x31.png";
$att-2x: "http://z.cdn.turner.com/xslo/cvp/config/tnt/tve/assets/TNT_web_ATT_white_ipw_247x31.png";
