$background-color: #131313;
$station-color: #D31E49;
$station-rgb: 211, 30, 73;
$toolbar-color: #fff;

@import '_vars';
@import '_global';
@import '_header';
@import '_schedule';
@import '_shows';
@import '_carousel';
@import '_footer';

img.main-logo{
	width: 40px;
	height: 40px;
	margin:0
}