/*
$tshadow1: 1px 1px 3px #222;
*/
/* global.scss */
html, body {
  height: 100%;
  overflow: hidden;
  background-color: #131313;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

::-webkit-scrollbar {
  width: 1px; }

::-webkit-scrollbar-thumb {
  background-color: white; }

.glyphicon-search {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 18px; }

/* SIGN IN/OUT CODE */
.signin-wrapper a {
  text-decoration: none;
  color: #ccc;
  font-weight: normal; }
.signin-wrapper .logged-out a {
  text-transform: uppercase;
  font-size: 11px; }
.signin-wrapper .logged-in a {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px; }

/* /SIGN IN/OUT CODE */
.shadowbox {
  -webkit-box-shadow: 10px 0px 64px 41px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 64px 41px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0px 64px 41px rgba(0, 0, 0, 0.75);
  background-color: black; }

.shadow-top {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0px; }

.shadow-bottom {
  position: fixed;
  bottom: 91px;
  left: 0;
  width: 100%;
  height: 0px; }

.shadow-left {
  position: fixed;
  bottom: 91px;
  left: 0;
  top: 70px;
  width: 1px; }

.shadow-right {
  position: fixed;
  bottom: 91px;
  right: 0px;
  top: 70px;
  width: 1px; }

.showColor {
  color: #d31e49; }

.tn-movie {
  position: relative;
  overflow: hidden; }

html.no-touch .tn-movie .moreinfo {
  background-color: #d31e49;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer; }

html.touch .tn-movie .moreinfo {
  background-color: #d31e49;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  cursor: pointer; }

.tn-movie .title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-shadow: black 0.1em 0.1em 0.2em; }

.schedule .tn-movie .title {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  font-size: 200%;
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=70);
  text-shadow: black 0.1em 0.1em 0.2em; }

html.touch .tn-movie:hover .title,
.tn-movie:active .title {
  display: none; }

.tn-movie .desc {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%; }

.tn-movie .links {
  border-top: 1px solid white;
  position: relative; }

.tn-movie .buttons {
  position: absolute;
  top: 0;
  right: 0px;
  width: 90px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: gray;
  text-align: center;
  display: none; }

.tn-movie .buttons a {
  font-size: 20px;
  color: black;
  padding: 10px;
  margin-bottom: 2px; }

html.touch .tn-movie .buttons {
  display: block; }

.tn-movie.stretch img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-size: cover; }

.tn-movie .smallbuttons {
  position: absolute;
  top: 0;
  right: 0px; }

.tn-movie .smallbuttons li {
  display: inline; }

.tn-movie .smallbuttons a {
  color: white;
  padding: 10px;
  margin-bottom: 2px; }

html.no-touch .tn-movie:hover .moreinfo,
.tn-movie.active .moreinfo {
  opacity: 0.8;
  filter: alpha(opacity=80); }

html.touch .tn-movie .modemsg,
.tn-movie.active .modemsg {
  display: none; }

.tn-application {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto-90px;
  /* Pad bottom by footer height */
  padding: 0 0 70px; }

.tn-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 90px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.tn-hidden {
  display: none !important; }

.livetitle {
  background: #d31e49;
  height: 200px;
  position: relative; }

.livetitle h1, .livetitle p {
  margin: 0; }

.livetitle .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px; }

.liveimage {
  height: 300px;
  position: relative; }

/* GLOBAL STYLES FOR MOVIE DISPLAY, USED ON MAIN LANDING, LIVE SHOWS ETC */
.maintitle {
  background: #d31e49;
  height: 200px;
  position: relative; }
  .maintitle h1, .maintitle h2, .maintitle p {
    margin: 0; }
  .maintitle .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px; }

.mainimage {
  height: 300px;
  position: relative; }

.mainsubimg {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 120px; }

.mainsub1 {
  position: absolute;
  left: 0;
  top: 0; }

.mainsub2 {
  position: absolute;
  left: 50%;
  top: 0; }

.tn-page, .tn-page .ui-content {
  margin: 0 0 0 0;
  padding: 90px 0 90px 0; }

#tn-movies-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.olControlAttribution {
  display: none;
  position: absolute;
  font-size: 10px;
  bottom: 0 !important;
  right: 0 !important;
  background: rgba(0, 0, 0, 0.1);
  font-family: Arial;
  padding: 2px 4px;
  border-radius: 5px 0 0 0; }

.left {
  float: left;
  width: 78%;
  margin-right: 2%; }

.right {
  float: right;
  width: 20%; }

.ui-input-search {
  margin: 0; }

button.ui-btn {
  margin: 0; }

.owl-demo {
  padding: 0;
  margin: 0px;
  border: 0 !important;
  background: black !important; }

.owl-demo .item {
  margin: 3px;
  /*padding-right: 10px;*/ }

.owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

#owl-main .item {
  background: #3fbf79;
  padding: 0px 0px;
  margin: 0px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }

.owl-main {
  padding: 0;
  margin: 0px;
  border: 0 !important;
  background: black !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

#owl-live .item {
  background: #3fbf79;
  padding: 0px 0px;
  margin: 0px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }

.owl-live {
  padding: 0;
  margin: 0px;
  border: 0 !important;
  background: black !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.ui-content {
  overflow: hidden; }

.jqm-demos {
  background: black !important; }

.navmenu a {
  background: transparent !important;
  text-transform: uppercase; }

html .ui-bar-b .ui-btn.ui-btn-active {
  border: 0; }

.navmenu a.selected {
  border-bottom: 2px solid #d31e49 !important;
  border-radius: 3px !important; }

/*
.owl-header h1 {
	font-size: 24px;
}
.owl-header {
	background: $station-color;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: -3px;
	width: 200px;
	opacity: 0.85;
	filter:alpha(opacity=85);
	pointer-events: none;
	padding: 10px;
	margin: 3px;
	z-index:100;
}
.schedule .owl-header {
	text-align: right;
}
.schedule .owl-header p {
	font-size: 700%;
	text-shadow: black 0.0em 0.0em 0.1em;
}
*/
.tn-page ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
  margin: 0; }

.tn-page {
  margin: 0 !important;
  padding: 0 !important; }

#popupLogin-screen {
  opacity: 0.85;
  filter: alpha(opacity=85); }

#popupLogin {
  box-shadow: none;
  background: transparent; }

.tn-footer a.nobg {
  background: transparent !important;
  text-transform: uppercase; }

.tn-footer div.ui-slider {
  display: inline-block;
  width: 100px;
  vertical-align: middle; }

.tn-footer .ui-slider input {
  display: none; }

.tn-footer .ui-slider-track {
  margin-left: 15px; }

.tn-footer .ui-input-text {
  display: inline-block;
  width: 80px;
  vertical-align: middle; }

.tn-page {
  background: #131313; }

a.nobg {
  background: transparent !important;
  text-transform: uppercase;
  border: 0; }

@media (max-width: 35em) {
  .hidden-phone {
    display: none !important; } }
@media (min-width: 35em) {
  .visible-phone {
    display: none !important; }

  .tn-footer div.ui-slider {
    width: 180px; } }
@media (min-width: 55em) {
  .tn-footer div.ui-slider {
    width: 256px; } }
.leaflet-control-attribution {
  display: none; }

.with-border {
  /*	width: 256px;
  	height: 256px;*/
  background-size: auto 100%;
  background-position: center;
  border: 8px solid  #1d1d1d;
  /*-webkit-transition: all 0.2s ease-in-out;*/ }

.moviebox {
  /*	width: 256px;*/
  /*	height: 0;*/
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: #d31e49;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  /*padding: 10px;*/
  /*-webkit-transition: opacity 0.3s ease-in-out;*/ }

.playbut {
  width: 64px;
  height: 64px;
  background-image: url(../images/play.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -32px 0px 0px -32px;
  cursor: pointer; }

.infoarea {
  position: absolute;
  left: 50%;
  top: 90px;
  margin: -32px 0px 0px -32px; }

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background: #000; }

.page {
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 90px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #131313; }

#page-inplayer {
  right: auto;
  bottom: auto;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  border: 0px solid #fff;
  /*transition: font 0.5s, width 0.5s, height .5s, top .5s, left .5s;*/
  transition: all 0.5s; }

.inplayer {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto-90px;
  /* Pad bottom by footer height */
  padding: 0 0 70px; }

.watchbar {
  background-color: #20201f;
  width: 100%;
  padding: 0 10px 0 10px; }

#watchlist {
  background-color: #000;
  position: fixed;
  bottom: 90px;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  opacity: 0.95;
  filter: alpha(opacity=95);
  display: none;
  border-top: 1px solid #131313; }

/*
 #footer {
	height: $footer-size;
	background-color: #20201f;
	border-top: 1px solid $background-color;
}

.navbar {
	opacity: 0.95;
	filter:alpha(opacity=95);
}
*/
.modal-dialog {
  width: 100%;
  height: 80%;
  padding: 0; }

div.modal {
  overflow: hidden;
  background-color: black; }

.modal.fade.in {
  opacity: 0.9; }

.modal-content {
  height: 100%;
  margin-top: 70px;
  border-radius: 0;
  background: transparent; }

.white, .white a {
  color: #fff; }

.black, .black a {
  color: #000; }

#page-shows, #page-shows2, #page-schedule {
  overflow-y: auto; }

:focus {
  outline: none; }

/*
.owl-watch {
	padding: 0;
	margin: 0px;
	border: 0 !important;
	background: black !important;
}
.owl-watch .item img {
	display: block;
	width: 100%;
	height: 100%;
}
.owl-watch .item {
	margin: 3px;
	background: #3fbf79;
	padding: 0px 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
*/
ul, menu, dir {
  -webkit-padding-start: 0px; }

#volume-panel a {
  height: 90px; }

#volume-panel {
  height: 30px;
  margin-top: 5px;
  position: relative; }

#time-slider {
  background-color: gray;
  margin-top: 15px;
  width: 100px;
  height: 10px; }

.largeIcon {
  font-size: 120%; }

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #000 !important; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #20201f !important; }

.loading2 {
  background-color: black;
  border: 0;
  margin: 0;
  padding: 0; }

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; }

.vid-pause-state {
  opacity: 0.90;
  filter: alpha(opacity=90);
  background-color: #000; }

.loading2 h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

#playtime {
  background-color: transparent;
  width: 90px;
  color: white;
  border: 0;
  margin: 10px 0 0 0;
  padding: 0; }

.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

#page-related {
  background: black; }

#vid-buttons {
  position: absolute;
  opacity: 0.10;
  filter: alpha(opacity=10);
  min-height: 20px;
  top: 0;
  left: 0;
  padding: 10px; }

#vid-buttons:hover {
  opacity: 0.90;
  filter: alpha(opacity=90);
  transition: all 0.5s; }

#vid-buttons a {
  width: 90px;
  /*height: $footer-size;*/
  display: block;
  padding: 10px 0 0 10px;
  text-shadow: black 0.1em 0.1em 0.2em; }

div.gigya-screen-dialog {
  background-color: black !important;
  opacity: 0.95;
  filter: alpha(opacity=95);
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  transition: all 0.5s; }

div.gigya-screen-dialog-content {
  margin-left: auto !important;
  margin-right: auto !important; }

div.gigya-screen-dialog-top {
  background-color: transparent !important; }

.gigya-screen h2, .gigya-screen h1 {
  color: #d31e49 !important; }

div.gigya-screen-dialog-inner {
  border: 0 !important;
  text-align: center !important;
  width: 100% !important; }

.gigya-screen-dialog-inner *, .gig-comments-container *, .gigya-screen-dialog-inner *:before, .gigya-screen-dialog-inner *:after {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

.gigya-screen *, div.gigya-screen, .gigya-screen span, .gigya-screen a:hover, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active {
  color: #ccc !important; }

.gigya-input-text, .gigya-input-password, .gigya-textarea,
.gigya-input-submit, .gigya-input-button {
  color: black !important; }

.vid-pause-state h1 {
  color: #d31e49; }

.minimized h1 {
  font-size: 16px; }

.gigya-screen-dialog-caption {
  display: none; }

.sidebar {
  position: absolute;
  top: 100px;
  right: -260px;
  bottom: 10px;
  width: 300px;
  transition: all 0.5s; }

.sidebar .nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px; }

.sidebar .nav a {
  background-color: gray;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin-bottom: 2px; }

.sidebar .nav a.active {
  background-color: #202020; }

.sidebar .pane {
  position: absolute;
  top: 0;
  left: 90px;
  height: 100%;
  width: 2 70px;
  background-color: #202020;
  display: none;
  overflow-y: auto;
  padding: 5px; }

.search-button {
  font-size: 90px;
  background: transparent;
  border: 0;
  color: white;
  border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
  width: 90%; }

.modal-header {
  border-bottom: 0; }

.pane h3.vid-title {
  color: #d31e49; }

.pane .tn-movie {
  border-radius: 3px; }

.leaflet-tile .tn-movie.stretch img {
  width: auto;
  height: 100%; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #111111; }

.modal-dialog {
  overflow-y: auto; }

.page {
  /* the margins need to be the same because the image width is relative to the width of slide-wrapper */
  /*
  .carousel ul li:last-child .slide-wrapper{
  	margin-right: 0px;
  }
  .carousel ul li:first-child .slide-wrapper{
  	margin-left: 0px;
  }
  */ }
  .page .flexslider {
    margin: 0;
    background: #131313;
    border: 0px solid #000;
    border-top: none;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    zoom: 1; }
  .page .carousel .slide-wrapper {
    margin-right: 7px;
    margin-left: 7px; }
  .page .carousel li {
    margin-right: 0;
    margin-left: 0; }
  .page .flex-direction-nav a {
    color: black;
    font-size: 12px;
    height: 50%;
    font-size: 0; }
  .page .flex-direction-nav .flex-prev, .page .flex-direction-nav .flex-next {
    opacity: 0.3; }
  .page .flexslider:hover .flex-prev, .page .flexslider:hover .flex-next {
    opacity: 0.6; }
  .page .flexslider:hover .flex-next:hover, .page .flexslider:hover .flex-prev:hover {
    opacity: 0.9; }
  .page .flex-direction-nav .flex-next, .page .flexslider:hover .flex-next {
    right: 5px; }
  .page .flex-direction-nav .flex-prev, .page .flexslider:hover .flex-prev {
    left: 5px; }
  .page .maintitle h2 {
    text-shadow: none; }
  .page .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: rgba(0,0,0,0.3);*/
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 95%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 95%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 95%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 95%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 95%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    /* IE6-9 */ }
    .page .caption .text-wrapper span {
      display: inline-block;
      color: #fff;
      background-color: transparent; }
      .page .caption .text-wrapper span.title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        text-shadow: none; }
      .page .caption .text-wrapper span.subtitle {
        font-size: 11px;
        margin-left: 5px; }
    .page .caption.withleft {
      height: 50px;
      padding-top: 5px;
      padding-left: 5px; }
      .page .caption.withleft div {
        display: inline-block; }
      .page .caption.withleft div.left-text {
        color: #d31e49;
        font-size: 32px;
        text-transform: uppercase; }
      .page .caption.withleft .text-wrapper span {
        display: block; }
        .page .caption.withleft .text-wrapper span.title {
          font-size: 14px;
          text-transform: none;
          color: #ccc; }
        .page .caption.withleft .text-wrapper span.subtitle {
          margin-left: 0;
          font-weight: normal;
          color: #aaa; }
  .page .main-content {
    position: relative;
    margin-bottom: 5px; }
  .page .main-footer {
    background: -moz-linear-gradient(top, #d31e49 0%, rgba(211, 30, 73, 0.65) 95%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d31e49), color-stop(95%, rgba(211, 30, 73, 0.65)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d31e49 0%, rgba(211, 30, 73, 0.65) 95%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d31e49 0%, rgba(211, 30, 73, 0.65) 95%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d31e49 0%, rgba(211, 30, 73, 0.65) 95%);
    /* IE10+ */
    background: linear-gradient(to bottom, #d31e49 0%, rgba(211, 30, 73, 0.65) 95%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d31e49', endColorstr='#a6d31e49',GradientType=0 );
    /* IE6-9 */
    color: #fff;
    font-size: 12px;
    padding: 5px 10px; }
    .page .main-footer .time {
      text-transform: uppercase; }
    .page .main-footer .intro {
      font-weight: 700; }
  .page .secondary-content {
    position: relative; }
    .page .secondary-content > div {
      display: inline-block;
      width: 49%;
      position: relative; }
    .page .secondary-content > div:nth-child(2) {
      position: absolute;
      right: 0; }
    .page .secondary-content .overlay {
      background-color: rgba(113, 8, 31, 0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
    .page .secondary-content .playbut {
      background-image: url(../images/play-sm.png);
      z-index: 2; }
    .page .secondary-content .caption {
      z-index: 3; }
    .page .secondary-content .text-wrapper {
      height: 20px; }
      .page .secondary-content .text-wrapper span.title {
        font-size: 11px; }
    .page .secondary-content img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }

.att {
  background: url("http://z.cdn.turner.com/xslo/cvp/config/tnt/tve/assets/TNT_web_ATT_white_ipw_247x31.png") no-repeat;
  background-size: 247px 31px;
  width: 247px;
  height: 31px; }

/*  LIVE TV */
#page-livetv section.slider {
  max-width: 1200px;
  margin: 0 10%; }
#page-livetv .slider li {
  width: 50%; }
#page-livetv .main-content {
  margin-bottom: 0; }
#page-livetv .maintitle h2 {
  text-transform: uppercase;
  margin-bottom: 20px; }

/*
	372 height....first main landing image shows but not secondaries

*/
@media (max-width: 345px) {
  /* 
  	this is temporary since mobile cannot play full episodes or live
  	this will need to be done via js isMobile detection	
  */
  .page {
    bottom: 0px; } }
@media (max-width: 767px) {
  .page {
    top: 50px; } }
@media (max-width: 480px) {
  #page-landing .carousel .slide-wrapper, #page-livetv .carousel .slide-wrapper {
    margin-right: 2px;
    margin-left: 2px; } }
/* we want to set this to the height where the full content including tall red header will show */
@media (max-height: 660px) {
  .maintitle {
    height: 35px; }
    .maintitle .bottom {
      margin-bottom: 3px; }
      .maintitle .bottom h1, .maintitle .bottom h2 {
        font-size: 24px;
        display: inline-block;
        margin-right: 10px; }
      .maintitle .bottom div {
        font-size: 12px;
        display: inline-block; }

  #page-livetv .maintitle h2 {
    margin-bottom: 0; }

  .flex-direction-nav a {
    top: 100px;
    margin-top: 0; } }
/* we will replace with 2x images when we get them */
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .playbut {
    background-image: url(../images/play.png); }

  .secondary-content .playbut {
    background-image: url(../images/play-sm.png); }

  .att {
    background-image: url("http://z.cdn.turner.com/xslo/cvp/config/tnt/tve/assets/TNT_web_ATT_white_ipw_247x31.png"); } }
/* /global.scss */
/*  header.scss */
header {
  font-size: 12px;
  font-weight: bold; }
  header .container {
    position: relative; }
  header .signin-wrapper {
    /*position: relative;*/ }
    header .signin-wrapper .logged-out {
      position: absolute;
      right: 15px;
      height: 20px;
      top: 10px; }
    header .signin-wrapper .logged-in {
      position: absolute;
      right: 15px;
      top: 5px; }
      header .signin-wrapper .logged-in > div {
        display: inline-block; }
      header .signin-wrapper .logged-in .user-info {
        vertical-align: top;
        height: 31px;
        position: relative; }
        header .signin-wrapper .logged-in .user-info div {
          position: relative;
          top: 50%;
          margin-top: -7px;
          height: 14px;
          color: #ccc;
          font-weight: normal;
          font-size: 10px; }
      header .signin-wrapper .logged-in .co-branding {
        vertical-align: top; }
  header .navbar-collapse {
    max-height: 700px; }
  header .navbar {
    opacity: 0.95;
    filter: alpha(opacity=95);
    position: relative;
    margin-bottom: 20px; }
  header .navbar-inverse {
    background-color: #222222;
    border-color: #080808; }
  header #navmain {
    overflow-y: auto; }
    header #navmain .navbar-nav > li > a {
      height: 40px;
      color: white;
      text-transform: uppercase;
      padding: 10px 4px;
      margin: 0 14px; }
      header #navmain .navbar-nav > li > a span {
        display: inline-block;
        /*height: 20px;*/ }
    header #navmain .hidden-xs.navitem-help a {
      font-size: 20px;
      font-weight: normal; }
    header #navmain li.navitem-glyphicon-search a,
    header #navmain .hidden-xs.navitem-help a {
      padding-top: 6px;
      padding-right: 0;
      margin-right: 0; }
  header .navbar-nav li {
    border-bottom: 1px solid #101010; }
  header .navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px; }
  header .navbar-toggle .icon-bar {
    background-color: #ffffff; }
  header .navbar-nav > li > a {
    /*line-height: $navbar-lineheight;*/ }
  header .navbar-inverse .navbar-nav > li > a {
    color: white; }
  header .navbar-header {
    position: relative; }
    header .navbar-header .navbar-toggle {
      margin: 0;
      position: absolute;
      float: none;
      padding: 9px 10px;
      margin: 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 34px;
      top: 50%;
      margin-top: -17px;
      right: 15px;
      border-color: #333333; }
  @media (max-width: 350px) {
    header .navbar-header .navbar-toggle {
      right: 2px; }
    header a.navbar-brand {
      padding-left: 2px; }
    header .att {
      background-size: 237px;
      width: 237px; }
    header .signin-wrapper .logged-in {
      margin-right: -125px; } }
  @media (max-width: 767px) {
    header a.navbar-brand {
      padding: 5px; }
    header .signin-wrapper {
      /* 
      	this is temporary since mobile cannot play full episodes or live
      	this will need to be done via js isMobile detection	
      */
      display: none; }
      header .signin-wrapper .logged-out {
        top: 25px;
        right: 70px; }
      header .signin-wrapper .logged-in {
        top: 25px;
        margin-top: -10px;
        right: 50%;
        margin-right: -130px; }
        header .signin-wrapper .logged-in div {
          display: block; }
        header .signin-wrapper .logged-in .user-info {
          color: #ccc;
          font-weight: normal;
          font-size: 10px;
          height: auto; } }
  @media (min-width: 768px) {
    header .navbar a.active {
      border-bottom: 3px solid #d31e49; }
    header .navbar-nav li {
      border-bottom: none; }
    header #navmain .navbar-nav {
      /*  this is to get the float to sit at the bottom of the div */
      margin-top: 27px; } }

/*  /header.scss */
/* SCHEDULE */
.dateslider {
  padding: 0 0 1em 0;
  position: relative; }

.timedate {
  bottom: auto;
  filter: alpha(opacity=1);
  float: left;
  left: -3px;
  margin: 0 3px;
  margin-left: 50px;
  opacity: 1;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 200px;
  z-index: 100;
  text-transform: uppercase; }

.timedate .dayname {
  font-size: 24px; }

.timedate .daynum {
  font-size: 98px;
  text-shadow: black 0.0em 0.0em 0.1em;
  position: absolute;
  bottom: 0px;
  right: 0;
  line-height: 76px; }

#page-schedule .carousel .slide-wrapper, #page-shows .carousel .slide-wrapper {
  margin-right: 3px;
  margin-left: 3px; }
#page-schedule .main-content, #page-shows .main-content {
  margin-bottom: 0; }

#page-schedule .timedate {
  background: #6d0019;
  /* Old browsers */
  background: -moz-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6d0019), color-stop(44%, #d31e49));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* IE10+ */
  background: linear-gradient(to right, #6d0019 0%, #d31e49 44%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d0019', endColorstr='#d31e49',GradientType=1 );
  /* IE6-9 */ }
#page-schedule .slider {
  padding-left: 245px; }

#page-shows .timedate {
  background: #d31e49;
  filter: alpha(opacity=0.85);
  opacity: .85; }

/* SHOWS */
.dateslider {
  padding: 0 0 1em 0;
  position: relative; }

.showsmeta {
  background: #d31e49;
  bottom: auto;
  filter: alpha(opacity=1);
  float: left;
  height: 250px;
  left: -3px;
  margin: 0 3px;
  margin-left: 50px;
  opacity: 1;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 200px;
  z-index: 100;
  text-transform: uppercase; }

.showsmeta .title {
  font-size: 24px;
  text-shadow: black 0.0em 0.0em 0.1em; }

.showsmeta .blurb {
  text-transform: none; }

.showsmeta .button {
  border: 1px solid #FFF;
  bottom: 0;
  float: left;
  margin: 0.5em 0.3em;
  padding: 0.3em; }

.showsmeta .button a {
  color: #FFF;
  font-size: 0.8em; }

#page-schedule .carousel .slide-wrapper, #page-shows .carousel .slide-wrapper {
  margin-right: 3px;
  margin-left: 3px; }
#page-schedule .main-content, #page-shows .main-content {
  margin-bottom: 0; }

#page-shows .showsmeta {
  background: #6d0019;
  /* Old browsers */
  background: -moz-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6d0019), color-stop(44%, #d31e49));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #6d0019 0%, #d31e49 44%);
  /* IE10+ */
  background: linear-gradient(to right, #6d0019 0%, #d31e49 44%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d0019', endColorstr='#d31e49',GradientType=1 );
  /* IE6-9 */ }

#page-shows .showsmeta {
  background: #d31e49;
  filter: alpha(opacity=0.85);
  opacity: .85; }

#page-shows .slider {
  padding-left: 245px; }

#page-shows .text-wrapper {
  margin-left: 1em; }

#page-shows .epinfo {
  color: #ccc;
  float: left;
  font-size: 14px;
  text-transform: none; }

#page-shows .special {
  color: #aaa;
  font-size: 11px;
  font-weight: normal;
  margin-left: 0; }

#page-shows .availexpire {
  color: #d31e49;
  font-size: 11px;
  text-transform: uppercase; }

/* carousel.scss */
.owl-demo .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.owl-demo .owl-buttons i {
  margin-top: 2px; }

.owl-demo .owl-controls .owl-buttons .owl-prev {
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s; }

.owl-demo .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s; }

.owl-next:hover,
.owl-prev:hover {
  opacity: 0.8 !important; }

.owl-prev span,
.owl-next span {
  top: 50%; }

/* /carousel.scss */
.tn-carousel .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.tn-carousel .owl-buttons i {
  margin-top: 2px; }

.tn-carousel .owl-controls .owl-buttons .owl-prev {
  left: 200px;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s; }

.tn-carousel .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  transition: all 0.5s; }

.owl-next:hover,
.owl-prev:hover {
  opacity: 0.8 !important; }

.owl-prev span,
.owl-next span {
  top: 50%; }

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: red !important; }

/* footer.scss */
footer {
  /* added this for now....it was not fitting in a small screen with the empty spaces for the 2 li elems */ }
  footer .tn-footer, footer #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #20201f;
    border-top: 1px solid black;
    z-index: 1000;
    background-color: #20201f;
    border-top: 1px solid #131313; }
    footer .tn-footer a, footer #footer a {
      color: white;
      text-transform: uppercase; }
  footer .tn-footer {
    -webkit-box-shadow: 0px 4px 48px 34px #1d1d1d;
    -moz-box-shadow: 0px 4px 48px 34px #1d1d1d;
    box-shadow: 0px 4px 48px 34px #1d1d1d; }
  footer .tn-footer a {
    color: white;
    text-transform: uppercase; }
  footer a.toggle-watchlist, footer a.toggle-fullscreen {
    color: #20201f !important;
    cursor: default;
    visibility: hidden; }
  footer #footer ul {
    margin: 0.6em 0;
    max-height: 60px; }
  footer #legal {
    background: #171717;
    color: #434343;
    float: left;
    font-size: 0.7em;
    max-height: 30px;
    height: 100%;
    width: 100%; }
  footer #legal a {
    color: #434343;
    font-size: 0.9em;
    text-decoration: underline;
    text-transform: none; }
  footer #legal ul {
    float: left;
    margin-top: auto;
    margin: 0.7em 0;
    max-height: auto; }
  footer #legal li {
    display: inline;
    float: left;
    padding: 0 0 0 1em; }
  footer #legal li.adchoices {
    background: url(http://i.cdn.turner.com/cnn/.element/img/3.0/global/misc/logo_ad_choices_footer.png) no-repeat center right;
    padding: 0 1.4em 0 0.3em; }
  footer ul.nav-pills li:first-child,
  footer ul.nav-pills li:nth-child(2) {
    display: none; }
  @media (max-width: 345px) {
    footer {
      /* 
      	this is temporary since mobile cannot play full episodes or live
      	this will need to be done via js isMobile detection	
      */
      display: none; }
      footer .nav > li > a {
        padding: 10px; } }

/* /footer.scss */
img.main-logo {
  width: 40px;
  height: 40px;
  margin: 0; }
